@use '../../module/vars';
@use '../../module/animation';

@mixin item {
  cursor: pointer;
  &:hover {
    @include animation.hover;
  }
}

@mixin topLeft {
  top: vars.$space;
  left: vars.$space;
}

.spmenu {
  z-index: 100;
  position: fixed;
  @include topLeft;
  cursor: pointer;
}

.minimized {
  line-height: 100%;
  @media screen and (min-width: vars.$sp-width) {
    font-size: vars.$txt-big;
  }
}

.menu {
  width: 100%;
  $mag: 1.5;
  position: absolute;
  @include topLeft;

  &__item {
    &__lv1 {
      @include item;
      font-size: $mag * vars.$txt-big;
    }
    &__lv2 {
      @include item;
      font-size: $mag * 1rem;
      margin-left: vars.$pd2;
    }
    &__lv3 {
      @include item;
      font-size: $mag * vars.$txt-small;
      display: block;
      margin-left: 2 * vars.$pd2;
    }
  }

  @media screen and (max-width: vars.$sp-width) {
    line-height: 1.25 * vars.$line-height;
    position: absolute;
    @include topLeft;

    &__item {
      &__lv1 {
        font-size: $mag * vars.$txt-big;
      }
      &__lv2 {
        font-size: $mag * 1rem;
      }
      &__lv3 {
        font-size: $mag * vars.$txt-small;
      }
    }
  }
}
