@use '../../module/vars';
@use '../../module/style';

.footer {
  position: fixed;
  bottom: 0;
  right: 0;

  z-index: 100;
  cursor: pointer;

  width: 100%;
  max-width: vars.$max-width;

  &__expanded {
    &__title {
      font-size: vars.$txt-big;
      margin-bottom: vars.$space;
    }
    &__caption {
      margin-bottom: vars.$space;
    }

    width: 100%;
    background-color: rgba(vars.$bg-color, 0.8);
    padding: vars.$space;

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: vars.$pd1;
      :nth-child(1) {
        > * {
          line-height: 100%;
          margin-right: vars.$space;
          font-size: vars.$txt-big;
        }
      }
    }
  }
  &__shrank {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: vars.$txt-small;
    padding-bottom: vars.$space;
    padding-right: vars.$space;
    line-height: 100%;
  }
}
