@use '../../module/vars';
@use '../../module/style';

.work {
  // TODO: fix properly
  overflow-y: auto;
  height: 100vh;

  &__title {
    color: rgba(vars.$text-color, 0.7);
    font-size: vars.$txt-small;
    margin-bottom: vars.$pd2;
    letter-spacing: 0.18rem;
    text-decoration: underline;
  }
  &__body {
    > * {
      margin-bottom: vars.$space;
    }
  }
  &__paginate {
    > a {
      @include style.btn;
    }
  }
}
