@use '../module/vars';
@use '../module/style';

.footer {
  position: fixed;
  bottom: 0;
  right: 0;

  z-index: 100;
  cursor: pointer;

  &__expanded {
    :first-child {
      font-size: vars.$txt-big;
      margin-bottom: vars.$space;
    }
    :nth-child(2) {
      margin-bottom: vars.$space;
    }
    
    width: 100vw;
    background-color: rgba(vars.$bg-color, 0.8);
    padding: vars.$space;

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      * {
        line-height: 140%;
      }
      :nth-child(1) {
        > * {
          line-height: 100%;
          margin-right: vars.$space;
          font-size: vars.$txt-big;
        }
      }
    }
  }
  &__shrank {
    font-size: vars.$txt-small;
    padding-bottom: vars.$space;
    padding-right: vars.$space;
  }
}
